@{
	Layout = null;
}

<!DOCTYPE html>

<html>

	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Book Details</title>
	</head>

	<body>

		<div>

			<h1>
				Book Details
			</h1>

			<h2>
				@ViewBag.Title
			</h2>

			<ul>
				@foreach (var author in ViewBag.Authors)
				{
					<li>
						@author
					</li>
				}
			</ul>

			<h3>
				@Html.Raw(ViewBag.Description)
			</h3>

			<h3>
				@ViewBag.PublishingHouse :: @ViewBag.PublicationYear
			</h3>

		</div>

	</body>

</htm>