@model GuidingLightBookGallery.Models.Book[];

@{
	ViewBag.Title = "Book Collection";
}

<h1>Books at Guiding Light Islamic Center</h1>


<div class="container">

	@foreach (var book in Model)
	{
		<div class="row mt-4 mb-4">
			<div class="col">
				<h4>The Amazing Spider-Man #700</h4>
			</div>
		</div>
	}

</div>